
.box-normale{
    background: radial-gradient(circle, lighten(#A7A778, 10%), darken(#A7A778, 10%));
}

.box-lotta{
    background: radial-gradient(circle, lighten(#C22E28, 10%), darken(#C22E28, 10%));
    background-color: #C22E28;
}

.box-volante{
    background: radial-gradient(circle, lighten(#AA92E9, 10%), darken(#AA92E9, 10%));
    background-color: #AA92E9;
}

.box-veleno{
    background: radial-gradient(circle, lighten(#9C469B, 10%), darken(#9C469B, 10%));
    background-color: #9C469B;
}

.box-terra{
    background: radial-gradient(circle, lighten(#E0C16D, 10%), darken(#E0C16D, 10%));
    background-color: #E0C16D;
}

.box-roccia{
    background: radial-gradient(circle, lighten(#B6A039, 10%), darken(#B6A039, 10%));
    background-color: #B6A039;
}

.box-coleottero{
    background: radial-gradient(circle, lighten(#A9B920, 10%), darken(#A9B920, 10%));
    background-color: #A9B920;
}

.box-spettro{
    background: radial-gradient(circle, lighten(#6E5995, 10%), darken(#6E5995, 10%));
    background-color: #6E5995;
}

.box-fuoco{
    background: radial-gradient(circle, lighten(#F27E2E, 10%), darken(#F27E2E, 10%));
    background-color: #F27E2E;
}

.box-acqua{
    background: radial-gradient(circle, lighten(#6890EB, 10%), darken(#6890EB, 10%));
    background-color: #6890EB;
}

.box-erba{
    background: radial-gradient(circle, lighten(#7DC656, 10%), darken(#7DC656, 10%));
    background-color: #7DC656;
}

.box-elettro{
    background: radial-gradient(circle, lighten(#F6CF2E, 10%), darken(#F6CF2E, 10%));
    background-color: #F6CF2E;
}

.box-psico{
    background: radial-gradient(circle, lighten(#F65984, 10%), darken(#F65984, 10%));
    background-color: #F65984;
}

.box-ghiaccio{
    background: radial-gradient(circle, lighten(#96D9D5, 10%), darken(#96D9D5, 10%));
    background-color: #96D9D5;
}

.box-drago{
    background: radial-gradient(circle, lighten(#6C38E9, 10%), darken(#6C38E9, 10%));
    background-color: #6C38E9;
}

.box-acciaio{
    background: radial-gradient(circle, lighten(#D8D8E5, 10%), darken(#D8D8E5, 10%));
    background-color: #D8D8E5;
}

.box-buio{
    background: radial-gradient(circle, lighten(#654D3C, 10%), darken(#654D3C, 10%));
    background-color: #654D3C;
}